<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aluosu.dao.TeacherMapper">
  <select id="getTeacher" resultMap="TeacherStudent">
  	select t.id tid, t.name tname, s.id sid, s.name sname, s.tid stid from ${DATABASE}.${STUDENT} s, ${DATABASE}.${TEACHER} t where s.tid=t.id and t.id=#{id};
  </select>
  <resultMap type="Teacher" id="TeacherStudent">
  	<id property="id" column="tid"/>
  	<result property="name" column="tname"/>
  	<collection property="students" ofType="Student">
  		<id property="id" column="sid"/>
  		<result property="name" column="sname"/>
  		<result property="tid" column="stid"/>
  	</collection>
  </resultMap>
  
  <select id="getTeacher2" resultMap="TeacherStudent2">
  	select * from ${DATABASE}.${TEACHER} where id=#{id};
  </select>
  
  <resultMap type="Teacher" id="TeacherStudent2">
  	<id property="id" column="id"/>
  	<result property="name" column="name"/>
  	<collection property="students" javaType="ArrayList" column="id" ofType="Student" select="selectStudent2">
	</collection>
  </resultMap>
  <select id="selectStudent2" resultType="Student">
  	select * from ${DATABASE}.${STUDENT} where tid=#{id};
  </select>
</mapper>